:host{
    display: block;
    background-color: rgba(155, 155, 155, 0.274);
    color: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0 0 0;

    li{
        padding: 15px;
        background-color: #505050a8;
        border: 1px solid #646464a8;
        margin-bottom: 15px;

        &:hover{
            cursor: pointer;
            border: 1px solid #fff;
        }
    }
    
    table{
        text-align: center;;
        tr{
            border-bottom: 1px dotted rgb(112, 112, 112);
        }
        td{
            padding: 10px;
            border-right: 1px dotted rgb(112, 112, 112);
        }
        td:last-child, tr:last-child{
            border: none;
        }
    }
}