/* You can add global styles to this file, and also import other style files */
@import "assets/css/reset.css";
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
  box-sizing: border-box;
}
body {
  font-family: "Share Tech Mono", monospace;
  background-color: #585858;
  // background: url('./assets/img/stars.jpg');
  font-size: 1rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
